<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lenalysis Consulting Services, Inc.</title>
    <!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/specific.css" rel="stylesheet">
    
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
  </head>
  <body>
  

<div class="container bluebg"></div>
<div class="container-fluid">
	<div class="row">
	    <div class="col-xs-12 col-md-6 leftside">
            <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            <div class="col-xs-12 col-lg-9 leftsideimg">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10 logo">
                        <img src="images/Lenalysis_Logo.png" class="img-responsive" alt="sample Logo" style="margin:48px auto;" />
                        <h1>Delivering software that delivers results.</h1>
                        <h2>Our mission here at Lenalysis is to ensure that your development project is efficient, current, and user-centric.</h2>
                        <p class="justify-cen">At de abuntilis. Serunte rterrio cchuconstem con simis remedesenare novit C. Mis morebaturs perisqui forudes cerbistimmor lium que ad dessit iam noximo virmis, 
                        ne conum impraes verdiest? quam tuides verioris. Si in pravere patquamendam dit; num plic iuspiorum anum in spienteres, quertem atu quitra, te.</p>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <ul class="icons">
                            <li><a href="https://goo.gl/maps/vzuVSuGoTu32" target="_blank"><img src="images/icon-map.png" alt="map icon" class="img-responsive" /></a></li>
                            <li><a href="tel:3146623921"><img src="images/icon-call.png" alt="map icon" class="img-responsive" /></a></li>
                            <li><a href="mailto:kelly@lenalysis.com"><img src="images/icon-email.png" alt="map icon" class="img-responsive" /></a></li>
                        </ul>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
        
        
        <div class="col-xs-12 col-md-6 col-md-offset-6 rightside">
        	<div class="row">
                <div class="col-xs-12 col-lg-9">
                	<div class="section">Team</div>
                	<img src="images/Lenalysis-Portrait.jpg" alt="Portrait of Kelly Leahy" class="img-responsive"  />
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            </div>
        	<div class="row" style="height:10px;">
                <div class="col-xs-12 col-lg-9" style="background-color:#f9b721;margin-bottom:-8px;height:10px;">
                	<img src="images/yellow-dot.png" alt="dot" style="margin-top:-8px;float:left;margin-left:-13px;"  />
                	<img src="images/yellow-dot.png" alt="dot" style="margin-top:-8px;float:right;margin-right:-13px;"  />
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            </div>
        	<div class="row">
                <div class="col-xs-12 col-lg-9 content">
					<h3>Kelly Leahy | <span class="title">Principal</span></h3>
					<p>Kelly holds a Master’s degree in Computer Science and a Bachelor’s Degree in Actuarial Science. His rare combination of a thorough knowledge of financial systems and software systems 
                    allows him to guide financial software solutions to be created in low-risk, high quality way. His experience has included putting together architectures that are focused on accountability 
                    through the use of event and other messages in patterns that allow flexible and scalable systems.</p>
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            </div>
            
            
        	<div class="row">
                <div class="col-xs-12 col-lg-9">
                	<div class="section">Philosophy</div>
                	<img src="images/NeedleVision.jpg" alt="Giving you a Clear Look" class="img-responsive"  />
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            </div>
        	<div class="row" style="height:10px;margin-top:-3px;position:relative;z-index:20;">
                <div class="col-xs-12 col-lg-9" style="background-color:#f9b721;margin-bottom:-8px;height:10px;">
                	<img src="images/yellow-dot.png" alt="dot" style="margin-top:-8px;float:left;margin-left:-13px;"  />
                	<img src="images/yellow-dot.png" alt="dot" style="margin-top:-8px;float:right;margin-right:-13px;"  />
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            </div>
        	<div class="row">
                <div class="col-xs-12 col-lg-9 content">
					<h3>Our Philosopy | <span class="title">Why we're different.</span></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit magna quis dolor posuere, a rhoncus felis accumsan. Pellentesque malesuada nisi et libero bibendum, non ultricies nunc pharetra. Aliquam porta purus eget accumsan sollicitudin. In sed elit id nibh finibus iaculis. Vestibulum sed euismod orci. Donec eget erat et ante consectetur ullamcorper. Donec auctor elementum massa sed ornare.</p>

                    <p>In viverra lacus in rhoncus vulputate. Fusce sollicitudin leo non quam egestas, non iaculis quam pellentesque. Curabitur facilisis sem eu lobortis lacinia. In id lacus bibendum, bibendum purus in, hendrerit arcu. Vestibulum mattis eros nunc, sed mattis felis eleifend quis. Etiam molestie felis quis sagittis rutrum. Aliquam finibus ullamcorper est vel convallis. Curabitur purus mauris, pellentesque quis ex gravida, cursus porta lorem. Nullam nec ante at eros accumsan placerat non porttitor lectus. Quisque elit felis, sodales ac arcu non, condimentum pharetra libero. Donec ut gravida ex. Suspendisse eget semper nisi, in vulputate nisi.</p>
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            </div>
            
            
        	<div class="row">
                <div class="col-xs-12 col-lg-9">
                	<div class="section">Section 3</div>
                	<img src="images/NeedleVision.jpg" alt="Giving you a Clear Look" class="img-responsive"  />
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            </div>
        	<div class="row" style="height:10px;">
                <div class="col-xs-12 col-lg-9" style="background-color:#f9b721;margin-bottom:-8px;height:10px;">
                	<img src="images/yellow-dot.png" alt="dot" style="margin-top:-8px;float:left;margin-left:-13px;"  />
                	<img src="images/yellow-dot.png" alt="dot" style="margin-top:-8px;float:right;margin-right:-13px;"  />
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            </div>
        	<div class="row">
                <div class="col-xs-12 col-lg-9 content">
					<h3>Lorem Ipsum | <span class="title">Dolor Sit Amet</span></h3>
                    <p>In viverra lacus in rhoncus vulputate. Fusce sollicitudin leo non quam egestas, non iaculis quam pellentesque. Curabitur facilisis sem eu lobortis lacinia. In id lacus bibendum, bibendum purus in, hendrerit arcu. Vestibulum mattis eros nunc, 
                    sed mattis felis eleifend quis. Etiam molestie felis quis sagittis rutrum. Aliquam finibus ullamcorper est vel convallis. Curabitur purus mauris, pellentesque quis ex gravida, cursus porta lorem. Nullam nec ante at eros accumsan placerat non 
                    porttitor lectus. Quisque elit felis, sodales ac arcu non, condimentum pharetra libero. Donec ut gravida ex. Suspendisse eget semper nisi, in vulputate nisi.</p>
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            </div>
            
            
        	<div class="row">
                <div class="col-xs-12 col-lg-9">
                	<div class="section">Section 4</div>
                	<img src="images/NeedleVision.jpg" alt="Giving you a Clear Look" class="img-responsive"  />
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            </div>
        	<div class="row" style="height:10px;margin-top:-3px;position:relative;z-index:20;">
                <div class="col-xs-12 col-lg-9" style="background-color:#f9b721;margin-bottom:-8px;height:10px;">
                	<img src="images/yellow-dot.png" alt="dot" style="margin-top:-8px;float:left;margin-left:-13px;"  />
                	<img src="images/yellow-dot.png" alt="dot" style="margin-top:-8px;float:right;margin-right:-13px;"  />
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            </div>
        	<div class="row">
                <div class="col-xs-12 col-lg-9 content">
					<h3>Consecutitor | <span class="title">Wianlo Fornice Poluare</span></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit magna quis dolor posuere, a rhoncus felis accumsan. Pellentesque malesuada nisi et libero bibendum, non ultricies nunc pharetra. Aliquam porta purus eget accumsan sollicitudin. In sed elit id nibh finibus iaculis. Vestibulum sed euismod orci. Donec eget erat et ante consectetur ullamcorper. Donec auctor elementum massa sed ornare.</p>
                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
            </div>
            

       </div>
	</div>
</div>

<div class="container-fluid navbar-fixed-bottom">
    <div class="col-xs-12 col-md-6">
        <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
        <div class="col-xs-12 col-lg-9" style="background-color:white;opacity:.3;height:30px;text-align:center;">
            <p style="font-size:12px;color:#0063af;margin-top:5px;font-family:'Muli', sans-serif;">&copy;2016 Lenalysis Consulting Services, Inc.</p>
        </div>
    </div>
    <div class="hidden-xs col-md-6"></div>
</div>

<!--<div class="container bluebg"></div>
<div class="container-fluid">
	<div class="row">
	    <div class="col-xs-12 col-md-6 leftside">
            	<div class="row">
                	<div class="hidden-xs hidden-sm col-md-3" style="height:300px;border-right:1px solid white;"></div>
                 	<div class="col-xs-2 col-md-1" style="background-color:yellow; height:300px;"></div>
                    <div class="col-xs-8 col-md-7 logo">
                    	<img src="images/sampleLogo.png" class="img-responsive" alt="sample Logo" style="margin:auto;" />
                    </div>
                	<div class="col-xs-2 col-md-1" style="background-color:yellow; height:300px;"></div>
                </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-6" style="background-color:white;height:4000px; opacity:.8;">
        	<div class="row">
            <div class="col-xs-12 col-md-9"><img src="images/Lenalysis-Portrait.jpg" alt="Portrait of Kelly Leahy" class="img-responsive" /></div>
            <div class="hidden-xs hidden-sm col-md-3"></div>
            </div>
        </div>
	</div>
</div>-->

  
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="../js/jquery-1.11.3.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="../js/bootstrap.js"></script>
  </body>
</html>