.blog-title {
  color: black;
  margin-top: 50px;
}

.blog-content {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.blog-wrapper {
  position: relative;
  display: grid;
  width: 380px; height: 400px;
  box-shadow: 0 0 10px 4px hsla(0, 0, 0, 0.2);
  margin-top: 25px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}
.blog-wrapper:hover {
  transform: scale(1.05, 1.05);
}
.blog-wrapper:hover > .article-date {
  left: 0;
}

.article-date {
  position: absolute;
  top: 0; left: -55px;
  width: 42px;
  background: white;
  font-size: 1.5em;
  padding: 0.25em;
  transition: 0.25s ease-in-out;
}

.blog-image {
  height: 240px;
}
.blog-image > img  {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.article-title {
  font-size: 1.5em;
  padding: 0.5em;
}

.blog-link {
  width: 50%;
  font-size: 1.2em;
  padding: 0.5em;
}

a {
  text-decoration: none;
  color: black;
}
